.modalContainer {
      position: fixed;
      z-index: 8778;
      width: 100vw;
      height: 100vh;
      background-color: rgba(36, 36, 43, 0.466);
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
}

.big-modal {
      width: 500px;
      height: 320px;
      background-color: #fff;
      border-radius: 10px;

}

.header__modal {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #f7f7f7;
      border-radius: 10px;
}

.colse__modal {
      font-size: 18px;
      border: 1px solid #ececec;
      padding: 5px 10px;
      border-radius: 50%;
      margin-right: 22px;
      text-align: end;
      cursor: pointer;
}

.login__button-top {
    padding: 20px;
    border: none;
    font-size: 16px;
    border-top-left-radius: 10px;
    background-color: #fff;  
}

.sign__button {
    padding: 20px;
    border: none;
    font-size: 16px;
    background-color: #f7f7f7;  
}

.login__form {
      display: block;
      position: relative;
      padding: 40px;
}

.title__input {
      position: absolute;
      top: 32px;
      left: 49px;
      font-size: 14px;
      color: #767676;
      background-color: #fff;
      border-radius: 3px;
}

.star {
      color: #fbc100;
}

.tel__number {
      border: none;
      border-radius: 6px;
      background: transparent;
      padding: 15px 17px 15px 17px;
      width: 100%;
      color: #333;
      box-shadow: 0 0 0 1px #d5d8df;
      outline: none;
      margin-bottom: 25px;
}

.login__tel-button {
    margin-bottom: 50px;
    padding: 11px 10px;
    width: 421px;
    background: #fbc100;
    border-radius: 6px;
    font-size: 16px;
    text-align: center;
    color: #333;
    border: none;
}

.login__button {
      font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #336fee;
    width: 100%;
    border: none;
    background-color: transparent;
}