.header__box {
      display: flex;
      align-items: center;
      padding: 18px 8px 8px;
      /* position: fixed; */
      /* top: 2px; */
      background-color: #f7f7f7;
}

.header__form {
      display: flex;
      align-items: center;
      border-radius: 8px;
      border: 2px solid #fbc100; 
}

.list__search {
      width: 170px;
      background: #f7f7f7;
      border-radius: 4px;
      border: none;
      padding: 9px 0px 9px 16px;
}

.search {
      outline: none;
      background-color: #fff; 
      border-radius: 4px;
      border: none;
      padding: 9px 190px 9px 12px;
}

.voice__button {
      margin-top: 4px;
      margin-right: 15px;
      background-color: #fff;
      border: none;
      cursor: pointer;
      transition: 0.3s;
}

.voice__button:hover{
      color: red;
}

.voice__button-img {
      opacity: 0.4;
      width: 24px;
      height: 24px;
}

.search__img {
      width: 24px;
      height: 23px;
}

.search__button {
      padding: 5px 8px;
      background-color: #fbc100;
      border: none;
}

.header__center-lists {
      display: flex;
      align-items: center;
      margin-left: 20px;
}

.header__center-customs + .header__center-customs {
      margin-left: 20px;
}

.box__custom {
      padding: 0 5px;
      display: block;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #333;
      border: none;
      background-color: #f7f7f7;
}

.box__img {
      font-size: 20px;
}


/* modal */

.modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      padding: 6em;
      border-radius: 5px;
      z-index: 10;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 2);
      background-color: rgba(255, 255, 255, 0.5) ;

}
